#background {
  background-color: rgb(244, 242, 242);
  padding: 50px;
  margin: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* overflow: visible; */
  position: relative;
  display: table;
  width: 80%;
  height: 60%;
}

#nav {
  width: 30%;
  float: left;
  background-color: rgb(226, 224, 224);
  height: 90%;
}

#nav ul{
  list-style-type: none;
  margin: 0;
  text-align: left;
}
#nav li {
  display: inline;
}

